body {
	background-color: #EEE;
	font-family: Garamond, Helvetica, Arial;
}

a {
	text-decoration: none;
	color: blue;
}

h1 h2 h3 {
	margin: 0;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #66CCFF;
	padding: 10px;
	color: white;
	text-align: center;
}

#content {
	padding: 10x;
}

#nav {
	width: 180px;
	float: left;
}

#nav .selected {
	font-weight: bold;
}

#nav ul {
	list-style-type: none;
	padding: 10;
}

#main {
	width: 600px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999;
	color: blue;
	text-align: right;
}
